<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inicio de Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../resources/core/css/style.css">
</head>
<body>
    <div class="overlay">
        <div class="formulario">
            <img src="../../../resources/core/assets/logo.png" class="img_titulo pb-5">
            <h2>Registrarse</h2>
            <form action="#" method="POST" class="w-75">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre" required>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="Ingrese su apellido" required>
                </div>
                <div class="form-group">
                    <input type="date" name="apellido" class="form-control" placeholder="Ingrese su fecha de naci" required>
                </div>
                <div class="form-group">
                    <input type="text" name="nombreUsuario" class="form-control" placeholder="Ingrese su nombre de usuario" required>
                </div>
                <div class="form-group">
                    <input type="password" name="contrasena" class="form-control" placeholder="Contraseña" required>
                </div>
                <a type="" class="btn" href="./home_page.html">Registrarse</a>
                <a href="./index.html" class="d-block p-2 vinculo">Iniciar sesion</a>
            </form>
        </div>
        <div class="informacion">
            <div>
                <img class="img_titulo" src="../../../resources/core/assets/titulo_truco.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, odio cum atque, odit provident, adipisci quod ut ab reprehenderit quis libero voluptatum dicta voluptate magni deleniti excepturi? In necessitatibus corrupti recusandae voluptate aut vitae deserunt accusantium odit animi ad facere, sed, natus qui. Assumenda a itaque, praesentium sequi qui hic.</p>
            </div>
            <div>
                <img class="img_titulo" src="../../../resources/core/assets/titulo_envido.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, odio cum atque, odit provident, adipisci quod ut ab reprehenderit quis libero voluptatum dicta voluptate magni deleniti excepturi? In necessitatibus corrupti recusandae voluptate aut vitae deserunt accusantium odit animi ad facere, sed, natus qui. Assumenda a itaque, praesentium sequi qui hic.</p>
            </div>
        </div>
    </div>
</body>
</html>